*{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
}
h1{
    color:goldenrod;
    background-color: black;
    font-size:40px;
}
.cards-jogadores{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr ;
    justify-items: center;
    gap: 50px;
}


@media screen and (min-width: 768px){
    .cards-jogadores{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px){
    .cards-jogadores{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1824px){
    .cards-jogadores{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.track{
    text-align:center;
    border: 10px solid goldenrod;
    background-color: goldenrod;
    border-radius: 2%;

}

.track:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

.track h2{
    margin-top: 10px;
}
.track h2, h3{
    background-color: white;
}

.track img{
    height: 380px;
    width: 280px;
    margin: auto;
    border-radius: 5%;
}

.buscar{
    display: flex;
    justify-content: center;
    margin: 30px;
}

#buscar-valor{
    padding: 10px;
    width: 250px;
    border-color: goldenrod;
    background-color: whitesmoke;
    font-weight: bolder;
    font-size: 15px;
}
