*{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
}
h1{
    color:goldenrod;
    background-color: black;
    font-size:40px;
}
#player-detail img{
    height: 380px;
    width: 280px;
    margin: auto;
    border-radius: 5%;
    border: 5px solid goldenrod;
}

.track-info{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-info p, h2{
    margin-top: 10px;
}
.track-info h2{
    font-size: 30px;
    font-weight: bolder;
}

.track-info p{
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

